<main>
    <div class="title">
        <p>All ToDo’s</p>
        <div class="btn">
            <button>Add a ToDo</button>
            <div class="cross"></div>
        </div>
    </div>
    <div class="list">
        <div class="task">
          
            <input type="checkbox" class="checkbox" id="check">
            <label for="check"></label>
            <div class="description"></div>
            <div class="buttonGroup">
                <a href="#"><img class="edit" src="../../../assets/edit.png" alt=""></a>
                <a href="#"><img class="remove" src="../../../assets/remove.png" alt=""></a>
            </div>
        </div>
    </div>
</main>